    <h1>We bring a fresh approach to health care</h1>
    <p>Who'd of thunk?</p>
    <div class="row">
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-plus-square fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-hospital-o fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-medkit fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-ambulance fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-user-md fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>
  </div>
</div>  