<h1>Our clients are leaders and visionaries in their industries</h1>
<h1 id="about-header"><small class="khaki-color">Together, our projects have received honors and awards, including: Harvard Kennedy School of Government Innovations in American Government, Best of Web, Intelligent Enterprise, Exemplary Systems in Government, and State of Maryland Challenge Grant</small></h1>
<div class="row">
  <div class="showcase-item col-md-3">
    <div id="healthcare-industry" class="showcase-item-box">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-plus-square fa-fw fa-stack-1x fa-inverse"></i>
      </span>
      <p>Health Care</p>
    </div>
  </div>
  <div class="showcase-item col-md-3">
    <div id="government-industry" class="showcase-item-box">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-institution fa-fw fa-stack-1x fa-inverse"></i>
      </span>
      <p>Government</p>
    </div>
  </div>
  <div class="showcase-item col-md-3">
    <div id="asset-management-industry" class="showcase-item-box">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-road fa-fw fa-stack-1x fa-inverse"></i>
      </span>
      <p>Facilities and Asset Management</p>
    </div>
  </div>
  <div class="showcase-item col-md-3">
    <div id="education-industry" class="showcase-item-box">
      <span class="fa-stack fa-5x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-book fa-fw fa-stack-1x fa-inverse"></i>
      </span>
      <p>Education</p>
    </div>
  </div>
</div>
