<h1>Careers</h1>
<div id="jobListings">
  <h2 class="title">Open Roles</h2>
  <ul>
    <li>Ruby on Rails Developer</li>
    <li>NoSQL Database Administrator</li>
  </ul>
</div>
<div id="jobsWhoWeAre">
  <h2 class="title">Who We Are</h2>
  <p>IdeaCrew is an awesome place!</p>
</div>
<div id="jobsApply">
  <h2 class="title">Apply For a Job</h2>
  <script type="text/javascript" src="https://form.jotform.com/jsform/60145892846161"></script>
</div>