<div class="jobListing">
	<div class="jobListingInner">
		<h2>Ruby on Rails Developer</h2>
		<p>Are you a Ruby on Rails developer looking for a more rewarding career? Does the idea of directly connecting your development effort with improving peoples' lives appeal to you? Do you have the interest, skills, and drive needed to help increase access to health care and electronic health record exchange?</p>
		<p>If so, you’re a candidate to join our innovative, hard-working team as we reboot Health Benefit Exchange (HBX) technology and standards. Our team has both developer and senior developer openings. Our culture encourages independent work, creative input, sharing of ideas, continuous learning and superior results.</p>
		<p>You will work closely with subject matter experts, chief engineer, business analysts, system architects, UI designers, SOA and RoR developers, DBA's, testers and others to design and implement APIs and Web-based applications. These solutions will enable consumers, employers, employees, brokers and providers to register, enroll, monitor and pay for health insurance benefits.</p>
		<p>
			The RoR Software Developer is someone who can:
			<br />
			<ul>
					<li>Design and develop software for Web applications, Application Program Interfaces (APIs) and Electronic Data Interchange (EDI)</li>
					<li>Capture functional requirements as Use Cases and accurately estimate level of effort to develop</li>
					<li>Work independently to identify solutions</li>
					<li>Write object-oriented Web application/interface code conforming to established methodology and standards</li>
					<li>Design and code software service components, units, and modules that meet project specifications and development schedules</li>
					<li>Work closely with the project team to ensure that all technical project assets comply with customer standards and requirements</li>
					<li>Evaluate third-party software components for potential use in developing solutions</li>
					<li>Practice Behavior Driven Development and test-first coding methodologies</li>
					<li>Contribute to business discussions about the project and user interfaces</li>
					<li>Document development projects and create test plans</li>
					<li>Troubleshoot problems and provide customer support for application issues</li>
					<li>This position is located in Washington, DC. We offer highly competitive compensation and benefits.</li>
				</ul>
			</p>
			<p>
				Desired Skills & Expertise:
			<br />
			<ul>
				<li>Four year degree in computer science or related field, or equivalent experience</li>
				<li>Developer : Two years experience developing using Ruby on Rails</li>
				<li>Sr Developer : Four-plus years experience with Ruby on Rails, one year leading development teams</li>
				<li>Agile software development principles, practice and process experience (from use case definition to component delivery) experience required</li>
				<li>RSpec, git, capistrano experience preferred</li>
				<li>JavaScript, JQuery experience required</li>
				<li>RDBMS (PostgreSQL, Oracle) required</li>
				<li>NoSQL (MongoDB, CouchDB) database experience preferred</li>
				<li>SOA and Web service development experience preferred</li>
				<li>Experience deploying solutions on Linux platforms preferred</li>
				<li>RESTful Web service using XML, XSD, JSON experience preferred</li>
				<li>AMQP or JMS messaging experience preferred</li>
				<li>Excellent oral and written communication skills required</li>
			</ul>
		</p>
		<p>Job Type: Full-time</p>
		<a href="http://www.indeed.com/viewjob?jk=1b7e1a9a0df79d22&tk=1a8ec9vn4ak5789n&from=company" class="jobApplyBtn">Apply</a>
	</div>
</div>

<div class="jobListing">
	<div class="jobListingInner">
		<h2>NoSQL Database Administrator</h2>
		<p>This position is located in the Health Benefit Exchange Authority (DCHBX), DC Access System implementation project team. The primary purpose of this position is supporting and managing the enterprise-wide open source and commercial database and Data Warehouse (DWH) environments in development, test and production.</p>
		<p>
			MAJOR DUTIES AND RESPONSIBILITIES:
			<br />
			<ul>
				<li>Work closely with the Chief Engineer, Project Managers, Developers and Business Analysts to ensure that all technology project assets comply with customer standards and requirements</li>
				<li>Plan, design, create, coordinate and deploy high-performance, secure, dependable database solutions that support application requirements</li>
				<li>Develop data architecture, data modeling, and ETL mapping solutions within structured data warehouse environment</li>
				<li>Support the development and validation required through the life cycle of the database and DWH systems, maintain user connectivity, and provide adequate security</li>
				<li>Create best practices for data loading and extraction</li>
				<li>Develop and implement ETL routines according to the DWH design and architecture</li>
				<li>Install, configure, clone and upgrade open source and commercial databases, business intelligence and related products</li>
				<li>Research, evaluate, design, test, recommend, and plan implementation of new versions of databases and database administration tools</li>
				<li>Ability to work in fast-paced, constantly changing environments and able to manage multiple environments</li>
				<li>Troubleshoot issues in database and DWH environments</li>
			</ul>
		</p>
		<p>
			KNOWLEDGE REQUIRED BY THE POSITION:
			<br />
			<ul>
				<li>Hands-on experience sizing, installing, administering and optimizing enterprise-level applications using MongoDB or NoSQL database required</li>
				<li>Experience using replication, sharding, geographic localization and related techniques to achieve system high-availability and high-performance</li>
				<li>Experience supporting Agile software development methodologies required</li>
				<li>Strong analytical and problem solving skills required</li>
				<li>Experience using database modeling tools and generating UML diagrams</li>
				<li>Red Hat Linux server shell scripting and cloud experience preferred</li>
				<li>PostgreSQL database administration experience preferred</li>
				<li>Oracle 11g, PL/pgSQL scripting experience preferred</li>
				<li>Informatica experience preferred</li>
				<li>BusinessObjects BI experience preferred</li>
				<li>Experience with git or similar version control system preferred</li>
				<li>Excellent written and oral communication skills</li>
				<li>Bachelors degree or equivalent experience</li>
			</ul>
		</p>
		<p>Job Type: Full-time</p>
		<a href="http://www.indeed.com/viewjob?jk=75d9cdfadf27ac95&tk=1a8ec9vn4ak5789n&from=company" class="jobApplyBtn">Apply</a>
	</div>
</div>
