<div><%= image_tag "ideacrew-logo-shadow-600x250.png", class: "img-responsive center-block" %></div>
<h1><small>We at IdeaCrew create systems that clients use to be more <span class="purple-color bold">connected, data-driven</span> and <span class="purple-color bold">customer-focused</span></small></h1>
