<h1>Agile Playbook<h1>
<h1><small>&nbsp;</small></h1>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-6">
    <div id="agile-development" class="showcase-item-box">
      <div class="playbook"><%= image_tag "playbook.png", alt: "football play" %></div>
      <div class="title">We know a dozen wrong ways, and one right way, to develop effective software.</div>
    </div>
  </div>

  <div class="showcase-item col-xs-12 col-md-6">
    <div id="agile-playbook" class="showcase-item-box">
      <div class="playbook"><%= image_tag "playbook.png", class: "img-responsive", alt: "football play", width: "100px", class: "image-centered" %></div>
      <div class="title">Our Agile Development Playbook brings predictability to software development.</div>
    </div>
  </div>
</div>
