<h1>We know a dozen wrong ways<br/>&ndash; and one right one &ndash;<br/> to create software</h1>
<h1><small>Our Agile playbook brings predictability to software development</small></h1>

<div class="row">
  <div class="col-md-4"><%= image_tag "playbook.png", class: "img-responsive", alt: "football play", width: "100px" %></div>
  <div class="col-md-4"><%= image_tag "playbook.png", class: "img-responsive", alt: "football play", width: "100px" %></div>
  <div class="col-md-4"><%= image_tag "playbook.png", class: "img-responsive", alt: "football play", width: "100px" %></div>
</div>

<div class="row text-left-justified">
  <div class="col-md-6 col-md-offset-2">
    <dl class="dl-horizontal">
      <dt>Business-driven</dt>
      <dd>Define process and deliver technology that solves business problems</dd>

      <dt>See the Whole</dt>
      <dd></dd>

      <dt>Empower stakeholders<br/>as co-developers</dt>
      <dd>Specify system operation using plain english and provide access to features as development progresses</dd>

      <dt>Build integrity in</dt>
      <dd>Detect and correct errors early using test-first, behavior-driven development</dd>

      <dt>Respond to change</dt>
      <dd></dd>

      <dt>Business driven</dt>
      <dd>Technology and processes that solve business problems</dd>
    </dl>
  </div>
</div>
