<h1>Products</h1>
<h1><small class="white-color">Examples of our work</small></h1>

  <div class="showcase-item col-xs-12 col-md-6">
    <div class="showcase-item-box">
      <div class="title gray-color">Enrollment Portal</div>
      <p class="black-color">The enrollment portal is a comprehensive, sustainable, online portal that enables employers, employees and individual consumers to manage their health insurance benefits efficiently.</p>
    </div>
  </div>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-6">
    <div class="showcase-item-box">
      <div class="title gray-color">EDI Admin Portal</div>
      <p class="black-color">The EDI admin portal is a web app for maintaining an enrollment system-of-record and managing Electronic Data Interchange (EDI) between health insurance marketplace trading partners.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-6 col-md-offset-3">
    <div class="showcase-item-box">
      <div class="title gray-color">Affordable Care Act API</div>
      <p class="black-color">The API is an open Application Program Interface (API) specification for online health insurance marketplaces.</p>
      <p><%= link_to "View API Docs", "http://acapi.dchbx.org" %></p>
    </div>
  </div>

</div>
