<h1>Products</h1>
<h1><small class="white-color">Examples of our work</small></h1>

  <div class="showcase-item col-xs-12 col-md-6">
    <div class="showcase-item-box">
      <div class="title gray-color">EDI Administration</div>
      <p class="black-color">A web application for monitoring and managing Electronic Data Interchange (EDI) between online health insurance marketplace trading partners</p>
      <p><%= link_to "View Source Code", "https://github.com/dchbx/gluedb/" %></p>
    </div>
  </div>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-6">
    <div class="showcase-item-box">
      <div class="title gray-color">Enrollment Portal</div>
      <p class="black-color">A web portal that enables employers, employees and consumers to create and manage online health insurance accounts</p>
      <p><%= link_to "View Source Code", "https://github.com/dchbx/enroll/" %></p>
    </div>
  </div>
</div>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-6 col-md-offset-3">
    <div class="showcase-item-box">
      <div class="title gray-color">Affordable Care Act API</div>
      <p class="black-color">An open Application Program Interface (API) specification for online health insurance marketplaces</p>
      <p><%= link_to "View API Docs", "http://acapi.dchbx.org" %></p>
    </div>
  </div>

</div>
