<h1>Projects</h1>
<h1><small>Examples of our work</small></h1>

<div class="row">
  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Enrollment Portal for<br/>Health Benefit Exchanges</h2>
      <p>A <%= link_to "web application", "https://github.com/dchbx/enroll/" %> for employers, employees and consumers to create and manage online health insurance accounts</p>
    </div>
  </div>

  <div class="showcase-item col-md-6">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>EDI Portal for<br/>Health Benefit Exchanges</h2>
      <p>A <%= link_to "web application", "https://github.com/dchbx/gluedb/" %> for monitoring and managing Electronic Data Interchange (EDI) between online health insurance marketplace trading partners</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="showcase-item col-md-6 col-md-offset-3">
    <div id="healthcare-industry" class="showcase-item-box">
      <h2>Affordable Care Act API</h2>
      <p>An open <%= link_to "Application Program Interface", "http://acapi.dchbx.org" %> (API) specification for online health insurance marketplaces</p>
    </div>
  </div>

</div>
