<h1>We Deliver</h1>
<h1 id="services-header"><small class="white-color animated fadeInUp">Powerful &amp; Sustainable Solutions to Your Challenges</small></h1>

<div class="row">
  <div class="showcase-item col-xs-12 col-md-4">
    <div id="web-technology-service" class="showcase-item-box">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-cloud fa-fw fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="title khaki-color">Web Technology</div>
    <p>IdeaCrew powers an employer and individual online health benefit exchange, including benefit enrollment, plan shopping, premium billing, notices, reporting and administration.</p>
  </div>

  <div class="showcase-item col-xs-12 col-md-4">
    <div id="operations-support-service" class="showcase-item-box">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-building-o fa-fw fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="title khaki-color">Operations</div>
    <p>IdeaCrew conquers Electronic Data Interchange (EDI) communication, trading partner on boarding and coordination, ongoing EDI transaction processing and error resolution.</p>
  </div>

  <div class="showcase-item col-xs-12 col-md-4">
    <div id="consulting-service" class="showcase-item-box">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x khaki-color"></i>
        <i class="fa fa-user-md fa-fw fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="title khaki-color">Consulting</div>
    <p>IdeaCrew leads changes to improve hospital clinical care, implement modern technology, modernize and optimize work forces, and improve fiscal integrity.</p>
  </div>
</div>
