
<section>
  <div class="jumbotron">
    <h1 class="text-centered">IdeaCrew</h1>
    <p class="text-centered">We bring a fresh approach to health care</p>
  </div>
</section>
<section></section>
<section></section>
<section></section>