
<section id="home" class="scroll-panel">
  <div class="container">
    <div class="jumbotron text-centered">
      <h1> IdeaCrew<br/>
      <small>We at IdeaCrew Create Software that People want to use.</small></h1>
    </div>
  </div>
</section>


<section id="about" class="scroll-panel lighter-violet-bg">
  <div class="container">
    <div class="jumbotron text-centered lighter-violet-bg">
      <h1>We bring a fresh approach to health care</h1>
      <p>Who'd of thunk?</p>
    </div>
    <div class="row">
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-plus-square fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-hospital-o fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-4">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-medkit fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-ambulance fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
      <div class="showcase-item col-md-6">
        <div class="showcase-item-box">
          <h1><i style="max-width: 100%" class="fa fa-user-md fa-fw"></i></h1>
          <p>Each image will have a slogan/statement</p>
        </div>
      </div>
    </div>
  </div>  
</section>

<section id="team" class="scroll-panel black-bg">
  <div class="container">

  <div class="jumbotron text-centered black-bg">
    <h1>We have amazing people!</h1>
    <p>Great people do great things</p>    
  </div>
  </div>
</section>

<section id="resources" class="scroll-panel khaki-bg">
  <div class="container">

  <div class="jumbotron text-centered khaki-bg">
    <h1>Here's some of the great stuff we've built</h1>
    <p>For you to use</p>    
  </div>
  </div>
</section>

<section id="career" class="scroll-panel white-bg">
  <div class="container">
  <div class="jumbotron text-centered white-bg">
    <h1>We have amazing opportunities!</h1>
    <p>Great people do great things</p>    
  </div>
  </div>
</section>

<section id="contact" class="scroll-panel">
  <div class="container">

  <div class="jumbotron">
    <h1>Contact us!</h1>
    <p>We love to talk</p>    
    <div class="col-md-6">
      </div>
    </div>
  </div>
</section>