// Begin IdeaCrew Customization

body {
}

dl {font-weight: bold;}
dt {font-weight: normal;}

// Fix Bootstrap aligment problem on blank definitions by appending an &nbsp;
dl.dl-horizontal {
    dd:after {
        content: "\0000a0";
    }
}

.text-centered { text-align: center; }
.no-margin { margin: 0; }
