// Begin IdeaCrew Customization

// @ps-text:         #EEEEEE;
// @ps-nav-bg:       #F2F2F5;
// @ps-link-text:    #333363;
// @ps-nav-text:     #5E60A4;
// @ps-well-bg:      #C2B59B;
// @ps-jumbotron-bg: #333363;
// @ps-bg:           #595A8A;

// @brand-primary:         #333363;
// @brand-success:         #5cb85c;
// @brand-info:            #5bc0de;
// @brand-warning:         #f0ad4e;
// @brand-danger:          #d9534f;

body {
  position: relative;
  min-height: 2000px;
  padding-top: 70px;
}

img {
  max-width: 100%
}

.navbar {
  border-radius: 0;
  position: fixed;
  width: 100%;
  padding: 0 20px;
}

.scroll-panel {
  padding-top: 30px;
}

.jumbotron {
  border-radius: 0;
  padding: 0;
}

.showcase-item {
  height: 220px;
  padding: 2px;
}

.showcase-item .showcase-item-box {
    background: #C2B59B;
    color: #ffffff;
    padding: 40px;
    height: 100%;
    width: 100%;
    text-align: center;
  }

dl {font-weight: bold;}
dt {font-weight: normal;}

// Fix Bootstrap aligment problem on blank definitions by appending an &nbsp;
dl.dl-horizontal {
    dd:after {
        content: "\0000a0";
    }
}

.white-bg { background: #fff; color: #333}
.black-bg { background: #333; }
.khaki-bg { background: #C2B59B; }
.lighter-violet-bg { background: #5E60A4; }
.text-centered { text-align: center; }
.no-margin { margin: 0; }
.full-width { width: 100% }

